body {
  padding: 0;
  margin: 0;
  color: #978237;
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
}

h1,
h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
  padding: 0;
  margin: 0;
  color: #dba159;
  border-bottom: #dba159 2px solid;
}

h3 {
  text-align: center;
}

a {
  color: #864c1c;
  text-decoration: none;
}
a:hover {
  color: #ec8734;
}

img {
  width: 150px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

ul {
  padding-left: 15px;
}

li {
  padding-left: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #fcfdaf;
  font-size: 13px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.social ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
}

.social ul li {
  display: inline-block;
  padding: 0;
}

.social a {
  color: #efd780;
  transition: all 0.3s ease;
}

.social a:hover {
  color: #dba159;
}

.main {
  padding: 30px;
  background: #f7ffdd;
}
